@model List<Web_HoangHiep.Models.CartItem>

<div class="top-header-right">
    <ul class="support">

    </ul>
    <ul class="support">
        <li class="van"><a href="#"><label> </label></a></li>
        <li><a href="@Url.Action("Index","Cart")">@Model.Count sản phẩm <span class="live">trong giỏ hàng</span></a></li>
    </ul>

    <!---->
    <div class="clearfix"> </div>
</div>
